*.Makefile
*.a
*.mk
*.o
*.opensdf
*.sdf
*.sln
*.v12.suo
*.vcproj
*.vcproj
*.vcproj.user
*.vcxproj
*.vcxproj.user
.deps
.dirstamp
Makefile
Makefile.in
autom4te.cache
autotools/config.guess
autotools/config.sub
config.log
config.status
configure
gyp-win-tool
src/config.h
src/stamp-h1
